.Save-btn {
  margin-right: 2rem;
}

.srd {
  display: flex;
  justify-content: center;
}

#search-input {
  width: 80%;
}

#nav-btns {
  text-align: center;
  margin-bottom: 1rem;
}

.bookImg {
  height: 100px;
  width: 100px;
  margin-left: 5rem;
}

.bookTitle {
  margin: 0;
  padding: 0;

  margin-left: 5rem;
}
