.Save-btn {
  margin-right: 2rem;
}

.srd {
  display: flex;
  justify-content: center;
}

#search-input {
  width: 80%;
}

#nav-btns {
  text-align: center;
  margin-bottom: 1rem;
}

.bookImg {
  height: 100px;
  width: 100px;
  margin-left: 5rem;
}

.bookTitle {
  margin: 0;
  padding: 0;

  margin-left: 5rem;
}

.NavBar {
  display: flex;
  justify-content: space-between;
}

.NavBar a {
  color: black;
}

.NavBar a:hover {
  text-decoration: none;
}

.NavBar h3 {
  margin-top: 0.3em;
  margin-left: 1em;
}

.NavBar ul {
  display: flex;
  margin-top: 0.7em;
  margin-right: 2em;
}

.NavBar ul li {
  list-style-type: none;
}

.NavBar ul a:nth-child(2) {
  margin-left: 0.5em;
}
